// LESS blocks

body {
  background: @color_huge-white;
  font-family: Galaxie;
  color: @color_huge-black;
  padding-top: 60px;
}

// header
.huge_header {
  background: @color_huge-pink;
  height: 60px;
  width: 100%;
  padding: 20px 24px;
  position: fixed;
  top: 0; left: 0;
  z-index: 100;
}
// hero image
.huge_hero {
  position: relative;
}

// body section
.huge_body {
  max-width: 900px;
  margin: auto;
  padding: 45px 0 100px 0;
}

// huge body paragraphs
.huge_p {
   &:extend(.body-text);
   width: 95%;
   margin: 15px auto 15px auto;
}










